- name: "Disable password authentication via ssh"
  template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: 0400
  notify:
    - restart sshd
  tags:
    - ssh

