---
- name: "Configure SSH daemon"
  template:
    src: "etc/ssh/sshd_config.j2"
    dest: "/etc/ssh/sshd_config"
    owner: root
    group: root
    mode: 0400
  notify:
    - restart sshd
  tags:
    - sshd

- meta: flush_handlers
